html {
    height: 100%;
    color: whitesmoke;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    height: inherit;
    background-color: black;
    line-height: 1.6;
}
